name: build

on:
  push:
    paths-ignore:
      - '**.md'

jobs:
  build:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v2
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: nightly
          default: true
      - run: sudo apt-get update
      - run: sudo apt-get install meson ninja-build libgtk-4-dev libadwaita-1-dev
      - run: meson setup builddir
      - run: meson compile -C builddir
      - run: cargo build --release
      - uses: actions/upload-artifact@v3
        with:
          name: gtk-qq
          path: target/release/gtk-qq
